In [0]:
CREATE SCHEMA IF NOT EXISTS money_mop;
USE money_mop;

---------------------------------------------------------
CREATE TABLE IF NOT EXISTS ref_companies (
    company_name STRING
);

INSERT INTO ref_companies VALUES
    ('Spendora'), 
    ('Expensivus'), 
    ('ClarityLedger'), 
    ('TrueSpend'), 
    ('Fintrix'), 
    ('Procuro'), 
    ('LedgrIQ'), 
    ('Zentro');

---------------------------------------------------------
CREATE TABLE IF NOT EXISTS money_mop.ref_departments (
    department_name STRING
);

INSERT INTO money_mop.ref_departments VALUES
    ('Engineering'), 
    ('Marketing'), 
    ('Sales'), 
    ('Finance'), 
    ('HR'), 
    ('Operations');

---------------------------------------------------------
CREATE TABLE IF NOT EXISTS money_mop.ref_merchants (
    category STRING,
    merchant STRING
);

INSERT INTO money_mop.ref_merchants VALUES
    ('Travel', 'Delta'),
    ('Travel', 'Uber'),
    ('Travel', 'Lyft'),
    ('Travel', 'Marriott'),
    ('Travel', 'Hilton'),
    ('Meals', 'Starbucks'),
    ('Meals', 'Chipotle'),
    ('Meals', 'Panera'),
    ('Meals', 'Olive Garden'),
    ('Supplies', 'Staples'),
    ('Supplies', 'Office Depot'),
    ('Supplies', 'Amazon'),
    ('Entertainment', 'AMC'),
    ('Entertainment', 'TopGolf'),
    ('Entertainment', 'Dave & Buster''s'),
    ('Misc', 'Etsy'),
    ('Misc', 'Other'),
    ('Misc', 'Unknown');

---------------------------------------------------------
CREATE TABLE IF NOT EXISTS money_mop.ref_category_amounts (
    category STRING,
    mean_amount DOUBLE,
    std_amount DOUBLE
);

INSERT INTO money_mop.ref_category_amounts VALUES
    ('Travel', 500, 150),
    ('Meals', 50, 25),
    ('Supplies', 50, 20),
    ('Entertainment', 100, 50),
    ('Misc', 75, 75);